@import "tailwindcss";


@keyframes moveFullScreen {
  0% {
    transform: translateX(-100vw); /* screen ke bahar se */
  }
  100% {
    transform: translateX(100vw); /* screen ke bahar tak */
  }
}

.marquee-track {
  animation: moveFullScreen 25s linear infinite; /* speed fast */
  width: 100%;
  will-change: transform;
}

/* 📱 Mobile – Faster speed */
@media (max-width: 640px) {
  .marquee-track {
    animation: moveFullScreen 8s linear infinite;
  }
}